.card {
  width: 200px;
  height: 200px;
  margin: 15px;
  box-shadow: 0 6px 6px rgb(59, 88, 255), 0 6px 6px rgb(255, 124, 124);
  border: 3px solid rgb(255, 255, 0);
  position: relative;
}

img {
  max-width: 200px;
  max-height: 200px;
}

img:hover {
  box-shadow:  0 0 30px rgb(255, 50, 50);
}